body{
    background-color: grey;
}

#userProfile{
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    border-radius: 20px;
    border-width: 10px;
    border-style: inset;
    background-color: grey;
    color: white;
}