body{
    background-color: grey;
}

#userProfile{
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    border-width: 10px;
    border-radius: 20px;
    border-style: solid;
    background-color: grey;
    color: white;
}

#userProfile legend{
    margin-bottom: -40px;
}

#userProfileTitle{
    border-width: 6px;
    border-radius: 10px;
    border-style: inset;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}